Kristas gamms.R
bam and brms comparison.R
comparing bam and ranef parameterization.R
krista model comparison with different parameterization of the ranef.R
parameterizing random effects in R.R
playing with k value.R
other model comparisons.R
older viz code.R
old size at age
