.DS_Store
pollock_ebs_dat.csv
raw_data_EBS_pcod.RDS
raw_data_EBS_yfs.RDS
raw_data_EBS_pollock.RDS
Krista data
ROMS_L2_temp_hinddat.csv
ROMS_bot_temp_yr.csv
ROMS_rho_points_Intersect.csv
ROMS_sum_temp_avg.csv
df_list_wrangled.csv
df_list_wrangled_names.csv
ROMS_proj_temps_saa.csv
