data/*
ACLIMregion_B10K-K20_CORECFS.Rdata
AGE_DATA.RData
AICs.csv
AICs_nn.csv
AICs_spavg.csv
Kelly shapefiles
Krista data
April 2024
Ortiz Regions
yfin_grid.csv
Litzow_pollock_02032021.csv
ROMS_bot_temp_yr.csv
X_index_data_goa_ebs_nbs
